<footer class="cookie">
    <ul class="cookie-items">
        <li class="cookie-value" style="text-align: start;">Условия аренды</li>
        <li class="cookie-value">Политика конфиденциальности</li>
        <li class="cookie-value">Политика использования файлов cookie</li>
        <li class="cookie-value" style="text-align: end;">Настройка cookie</li>
    </ul>
</footer>
<a class="footer">This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</a>
    <script src="/app.js"></script>