  <nav class="navbar">
    <img class="navbar-logo" src="/images/logo.png"/>
    <ul class="navbar-links">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Служба поддержки</a></li>
    </ul>
    <div class="navbar-login">
        <img src="/images/Vector.png"/>
        <a href="#">Войти</a>
    </div>
  </nav>