    {{> filter }}
<main class="car-list">
    <div>
        <div class="car-list-title"><img class="arrow" src="/images/arrow.png"><a><span>15 автомобилей&nbsp;</span>доступно:</a></div>
    </div>
</main>
