    {{> filter }}
<main class="car-list">
    <div>
        <div class="car-list-title"><img class="arrow" src="/images/arrow.png"><a><span>15 автомобилей&nbsp;</span>доступно:</a></div>
    </div>
    <div class="cars">
        <div class="car-container">
            <div class="car-head">
                <div class="car-title">
                    <p class="car-brand">Skoda</p>
                    <p class="car-model">Scala Automatic</p>
                </div>
                <div class="car-price">
                    <p class="price-value">Цена от <span>299 €</span></p>
                </div>
            </div>
                <img class="car-img" src="/images/skoda.png" >
            <div class="car-btn">
                <button class="details">Подробнее</button>
                <button class="renting">Бронировать</button>
            </div>
        </div>
        <div class="car-container">
            <div class="car-head">
                <div class="car-title">
                    <p class="car-brand">Skoda</p>
                    <p class="car-model">Scala Automatic</p>
                </div>
                <div class="car-price">
                    <p class="price-value">Цена от <span>299 €</span></p>
                </div>
            </div>
                <img class="car-img" src="/images/skoda.png" >
            <div class="car-btn">
                <button class="details">Подробнее</button>
                <button class="renting">Бронировать</button>
            </div>
        </div>
        <div class="car-container">
            <div class="car-head">
                <div class="car-title">
                    <p class="car-brand">Skoda</p>
                    <p class="car-model">Scala Automatic</p>
                </div>
                <div class="car-price">
                    <p class="price-value">Цена от <span>299 €</span></p>
                </div>
            </div>
                <img class="car-img" src="/images/skoda.png" >
            <div class="car-btn">
                <button class="details">Подробнее</button>
                <button class="renting">Бронировать</button>
            </div>
        </div>
        <div class="car-container">
            <div class="car-head">
                <div class="car-title">
                    <p class="car-brand">Skoda</p>
                    <p class="car-model">Scala Automatic</p>
                </div>
                <div class="car-price">
                    <p class="price-value">Цена от <span>299 €</span></p>
                </div>
            </div>
                <img class="car-img" src="/images/skoda.png" >
            <div class="car-btn">
                <button class="details">Подробнее</button>
                <button class="renting">Бронировать</button>
            </div>
        </div>
    
    </div>
</main>
